@import url('https://fonts.googleapis.com/css2?family=Just+Another+Hand&display=swap');

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('img/bg.png');
    background-size: cover;
    background-position: center;
}

.container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.63);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px ;
}

.h {
    /* font-family: "Griffy", system-ui; */
    font-family: "Just Another Hand", cursive;
    font-weight: bolder;
    letter-spacing: 2px;
}

input {
    padding: 5px;
    margin: 10px;
    transition: transform 0.1s ease-in-out;
    border-radius: 5px;
}

input:focus {
    transform: scale(1.1);
}

button {
    padding: 8px 15px;
    font-weight: bold;
    border: none;
    background-color: rgb(0, 119, 255);
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
}

button:hover {
    transform: scale(1.1);
}

button:active {
    transform: scale(0.8);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#txt-khodam {
    margin-top: 30px;
    font-family: "Just Another Hand", cursive;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 2px;
}

#img-khodam img{
    margin-top: 10px;
    max-height: 200px;
    width: auto;
    height: auto;
    border-radius: 10px;
}